<!-- custom -->
<!-- <script src="/javascripts/scripts.js"></script> -->
<script>
$(function(){
  // 警告框自动消失
  window.setTimeout(function () {
      $('.alert button[data-dismiss=alert]').alert('close');
  }, 2000);
});
</script>
</body>
</html>
